docker {
    enabled = false
}

params.project = ''
params.clusterOptions = ''

process {

    executor = 'slurm'
    clusterOptions = "-A $params.project ${params.clusterOptions ?: ''}"
    // Use node local storage for execution.
    scratch = '$SNIC_TMP'

    withName: fastp {
        cpus = '4'
        time = '4h'
        module = 'bioinfo-tools:fastp'
    }

    withName: prep_bt2_index {
        cpus = '4'
        time = '8h'
        module = 'bioinfo-tools:bowtie2'
    }

    withName: bowtie2 {
        cpus = '4'
        time = '8h'
        module = 'bioinfo-tools:bowtie2'
    }

    withName: megahit {
        cpus = '8'
        time = '16h'
        module = 'bioinfo-tools:megahit'
    }

    withName: kraken2prot_reads {
        cpus = '20'
        time = '8d'
        module = 'bioinfo-tools:Kraken2'

        clusterOptions = "-A $params.project -C mem256GB"
    }

    withName: kraken2prot_contigs {
        cpus = '20'
        time = '8d'
        module = 'bioinfo-tools:Kraken2'

        clusterOptions = "-A $params.project -C mem256GB"
    }

    withName: kraken2nt_reads {
        cpus = '20'
        time = '8d'
        module = 'bioinfo-tools:Kraken2'

        clusterOptions = "-A $params.project -C mem256GB"
    }

    withName: kraken2nt_contigs {
        cpus = '20'
        time = '8d'
        module = 'bioinfo-tools:Kraken2'

        clusterOptions = "-A $params.project -C mem256GB"
    }

    withName: krona_chart_kraken {
        cpus = '6'
        time = '1d'
        module = 'bioinfo-tools:Krona'
    }

    withName: diamond_contigs {
        cpus = '8'
        time = '24h'
        module = 'bioinfo-tools:diamond:Kraken'
    }

    withName: diamond4megan_contigs {
        cpus = '8'
        time = '24h'
        module = 'bioinfo-tools:diamond'
    }

}
